= simple_form_for @workout, remote: true, html: { :multipart => true, id: "workout_new_form" } do |f|
  .row-fluid
    .span8
      %fieldset
        %legend Contribute a Workout
        = f.input :name, placeholder: "Name", label: false, input_html: { class: "input-block-level" }
        = f.input :description, placeholder: "Description", label: false, input_html: { class: "input-block-level", style: "min-height:150px;" }
        = f.input :tag_list, label: false, input_html: { class: "input-block-level", style: "margin: 10px 0;" }, placeholder: "Add Tags"
        #shareWorkout.collapse
          = f.text_field :share_list, class: "input-block-level span10", style: "margin: 10px 0;", placeholder: "Share"
          %span4
            %p.social.pull-right
              %a.dev.google{ :href => "#" } Google
              %a.dev.facebook{ :href => "#" } Facebook
              %a.dev.twitter{ :href => "#" } Twitter

        #workout_upload_fields{:style => "display:none;"}
          = f.simple_fields_for :images, @workout.images.build do |image_fields|
            = image_fields.label "Upload Photo"
            = image_fields.file_field :item, class: "uploadWorkoutPic"

          / - auth_params = Panda.signed_params('post', "/videos.json")
          / = content_tag "div", class: "workout_video", data: {auth: auth_params} do
          /   = simple_fields_for(@workout.videos.build) do |builder|
          /     = render "shared/upload_video", object: "workout", builder: builder
        / end #upload_fields
        #upload_progress_workout.panda_upload_progress
      .row-fluid
        .span8
          .links
            %a#workoutUploadPhotoLink{ :href => "#"}
              %i.icon-picture
              %span.desc Add a photo
            | 
            / %a#workoutUploadVideoLink{ :href => "#"}
            /   %i.icon-facetime-video
            /   %span.desc Add a video
            = link_to "#", data: { toggle: "collapse", target: "#workoutVideoFooter" }, class: "addVideoWorkoutLink" do
              %i.icon-facetime-video
              Add a video
            | 
            = link_to "#", data: { toggle: "collapse", target: "#shareWorkout" }, class: "shareWorkoutLink" do
              %i.icon-share
              Share
            |
            %a.dev Add to shelf
          / end .links
        / end .span8
      / end.row-fluid

      #workoutVideoFooter.collapse
        .row-fluid
          - workout_auth_params = Panda.signed_params('post', "/videos.json")
          = content_tag "div", class: "workout_video", data: { auth: workout_auth_params } do
            = f.simple_fields_for :videos, @workout.videos.build do |builder|
              = render "shared/upload_video", object: "workout", builder: builder

      / exerices
      %legend Exercises
      = f.simple_fields_for :exercises do |exercise_form|
        = render "workouts/exercise_fields", f: exercise_form
        %section.clearfix
      = link_to_add_fields("Add", f, :exercises)
      
    / end .span8
    .span4
      %aside
        %legend{:style => "padding-top:30px;"}
          %center TIP
        .well{:style => "height: 200px;"}
          %p
            Want everyone to know about your healthy chicken recipes? Or maybe you have a success story you want to share? Be as creative as you'd like, and help others surpass the limit!
        / end .well
      / end .aside
    / end .span4
  / end .row-fluid
  %hr
  .row-fluid
    .span8
      = f.submit "Publish", class: "btn btn-inverse", id: "workout_submit"
      %p#link-loading.workout{:style => "display:none;"}= image_tag "ajax-loader.gif"
      %button.btn.btn-link Save as Draft
      |
      = link_to "Cancel", "#", class: "btn btn-link cancel"
    / end .span8
  / end .row-fluid
/ end #workout_new_form