%h2 Sign up
- @user = User.new
= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = f.error_notification
  .form-inputs
    = f.input :email, :required => true, :autofocus => true, label: false, placeholder: "Email"
    = f.input :name, :required => true, label: false, placeholder: "Name"
    = f.input :username, :required => true, label: false, placeholder: "Username"
    = f.input :password, :required => true, label: false, placeholder: "Password"
    / - if f.object.password_required?
    /   = f.input :password, :required => true
    /   = f.input :password_confirmation, :required => true
    = f.hidden_field :request_city, value: request.location.city
    = f.hidden_field :request_country, value: request.location.country

    %p
      = f.button :submit, "Sign Up Free", class: "btn btn-inverse"
      = link_to user_omniauth_authorize_path(:facebook), class: "btn btn-primary" do
        %i.icon-facebook.icon-large
        Sign Up With Facebook


