.container-fluid
  .row-fluid
    .span2
      / Sidebar content
      .bs-docs-example
        %ul.nav.nav-pills.nav-stacked
          %li
            %a{:href => "/"}
              %i.icon-home
              Feed
          %li
            %a{:href => "workouts"}
              %i.icon-book
              Workouts
          %li
            %a{:href => "events"}
              %i.icon-calendar
              Events
          %li.active
            %a{:href => "groups"}
              %i.icon-user
              Groups
    .span6
      / Body content
      %section
      %section
        %h3 Groups
        %table
          %tr
            %th Name
            %th Description
            %th
            %th
            %th
          - @groups.each do |group|
            %tr
              %td= group.name
              %td= group.description
              %td= link_to 'Show', group
              %td= link_to 'Edit', edit_group_path(group)
              %td= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' }
        %br/
    .span4
      %section.right-sidebar
        %p This is the recommended content
