.row-fluid
  .span8
    .well
      %p.lead Fill out your profile. The community wants to know who you are!
      = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, multipart: true }, remote: true) do |f|
        = f.error_notification
        = hidden_field_tag :profile_settings, true
        .form-inputs
          = f.input :name, :autofocus => true, :require => true, label: false, placeholder: "Name", input_html: { class: "input-block-level" }
          - if current_user.images.present?
            %p.input-block-level
              = profile_image_for(resource, 57)
              = f.simple_fields_for(:images) do |builder|
                = builder.label "Change Profile Image"
                = builder.file_field :item
          - else
            = f.simple_fields_for(:images, current_user.images.build) do |builder|
              = builder.label "Change Profile Image"
              = builder.file_field :item
          = f.input :tagline, :require => true, label: false, placeholder: "Tagline", input_html: { class: "input-block-level" }
          = f.input :gender, collection: [[1, "Male"], [2, "Female"]], label_method: :last, value_method: :first, as: :radio_buttons, checked: resource.gender
          = f.input :interest_list, :require => true, label: false, placeholder: "Interests", input_html: { class: "input-block-level" }
          = f.input :goals, :require => true, label: false, placeholder: "Goal", input_html: { class: "input-block-level" }
          = f.input :skill_list, :require => true, label: false, placeholder: "Skills", input_html: { class: "input-block-level" }
          = f.input :website, :require => true, label: false, placeholder: "Website", input_html: { class: "input-block-level" }
          = f.input :location, :require => true, label: false, placeholder: "Location", input_html: { class: "input-block-level" }
          = f.input :bio, placeholder: "Bio", label: false, input_html: { class: "input-block-level", rows: 3, style: "min-height:150px;" }
        .form-actions
          = f.button :submit, "Update"
  .span4
    .well{:style => "min-height: 800px;"}
      .well{:style => "min-height: 500px; margin-top:100px;"}
        Side box content area

